.featured{
    width: 100%;
    max-width: 1200px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    z-index: 1;
}

.featuredItem{
    position: relative;
    height: 250px;
    border-radius: 10px;
    color: white;
    overflow: hidden;
    
}

.featuredImg{
    width: 100%;
    object-fit: cover;
}

.featuredTitles{
    position: absolute;
    bottom: 20px;
    left: 20px;
}